---
export interface Props {
  imgs: string[];
}
---

<div class="carousel">
  <div class="viewport">
    <span id="item-1"></span>
    <span id="item-2"></span>
    <span id="item-3"></span>
    <span id="item-4"></span>
    <span id="item-5"></span>
    <span id="item-6"></span>
    <span id="item-7"></span>
    <span id="item-8"></span>
    <span id="item-9"></span>
    <div class="carousel-item item-1">
      <a href="#item-9" class="arrow-prev arrow"></a>
      <a href="#item-2" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-2">
      <a href="#item-1" class="arrow-prev arrow"></a>
      <a href="#item-3" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-3">
      <a href="#item-2" class="arrow-prev arrow"></a>
      <a href="#item-4" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-4">
      <a href="#item-3" class="arrow-prev arrow"></a>
      <a href="#item-5" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-5">
      <a href="#item-4" class="arrow-prev arrow"></a>
      <a href="#item-6" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-6">
      <a href="#item-5" class="arrow-prev arrow"></a>
      <a href="#item-7" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-7">
      <a href="#item-6" class="arrow-prev arrow"></a>
      <a href="#item-8" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-8">
      <a href="#item-7" class="arrow-prev arrow"></a>
      <a href="#item-9" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-9">
      <a href="#item-8" class="arrow-prev arrow"></a>
      <a href="#item-1" class="arrow-next arrow"></a>
    </div>
  </div>
</div>
<style>
  .carousel {
    position: relative;
    height: 30rem;
    width: 100%;
    max-width: 20rem;
    margin-bottom: 0.5rem;
    /* border: 2px solid var(--color-accent); */
    border-radius: 0.25rem;
    border: solid var(--color-accent);
  }

  .viewport {
    isolation: isolate;
  }

  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .arrow {
    border: solid var(--color-accent);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.75rem;
  }

  .arrow-prev {
    left: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }

  .arrow-next {
    right: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  [id^="item"] {
    display: none;
  }

  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url("/imgs/capstone/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-2 {
    background: url("/imgs/capstone/details.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-3 {
    background: url("/imgs/capstone/trends.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-4 {
    background: url("/imgs/capstone/reports.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-5 {
    background: url("/imgs/capstone/inventory.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-6 {
    background: url("/imgs/capstone/list.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-7 {
    background: url("/imgs/capstone/login.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-8 {
    background: url("/imgs/capstone/profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-9 {
    background: url("/imgs/capstone/qrcode.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  *:target ~ .item-1 {
    opacity: 0;
  }

  #item-1:target ~ .item-1 {
    opacity: 1;
  }

  #item-2:target ~ .item-2,
  #item-3:target ~ .item-3,
  #item-4:target ~ .item-4,
  #item-5:target ~ .item-5,
  #item-6:target ~ .item-6,
  #item-7:target ~ .item-7,
  #item-8:target ~ .item-8,
  #item-9:target ~ .item-9 {
    z-index: 3;
    opacity: 1;
  }
</style>
