---
import Page from "../layouts/Page.astro";
---

<Page title="Home">
  <section>
    <h2>Product Plus represents Erikson Consumer</h2>
    <div class="card">
      <a href="https://www.eriksonconsumer.com/"><img src="/imgs/demo/erikson-logo.svg" alt="" /></a>
      <h3>Brian Surrett</h3>
      <h4>Sales Agent serving Ontario</h4>
      <ul>
        <li>613-850-9719</li>
        <li>b.surrett20@gmail.com</li>
      </ul>
    </div>
  </section>
  <br />

  <section>
    <h2>Product Plus represents Totem Acoustic</h2>
    <div class="card">
      <a href="https://totemacoustic.com/"><img src="/imgs/demo/totem-logo.png" alt="" /></a>
      <h3>Brian Surrett</h3>
      <h4>Sales Agent serving Ontario</h4>
      <ul>
        <li>613-850-9719</li>
        <li>b.surrett20@gmail.com</li>
      </ul>
    </div>
  </section>

  <style>
    h2 {
      font-size: xx-large;
    }

    section {
      display: grid;
      justify-items: center;
    }

    .card {
      margin: 2rem;
      padding: 2.5rem;
      background-color: white;
      color: black;
      background-image: url("/imgs/cream_paper.png");
      box-shadow: 0.5rem 0.5rem 2rem 0.5rem #111;
      width: fit-content;
      border-radius: 0.25rem;
      object-fit: cover;
    }

    img {
      object-fit: contain;
      max-width: 20rem;
    }
  </style>
</Page>
