---
import Theme from "../components/Theme.astro";

export interface Props {
  title: string;
  bg: boolean;
}

const { title, bg } = Astro.props;

const year = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1 class="title"><a href="/">Product Plus</a> {title}</h1>
      <Theme />
    </header>
    {
      bg && (
        <div class="wrap">
          <img class="logo" src="/logos/akg.png" />
          <img class="logo" src="/logos/arcam.svg" />
          <img class="logo" src="/logos/austere.png" />
          <img class="logo" src="/logos/crown.png" />
          <img class="logo" src="/logos/dbx.png" />
          <img class="logo" src="/logos/dual.png" />
          <img class="logo" src="/logos/fiio.png" />
          <img class="logo" src="/logos/flexson.png" />
          <img class="logo" src="/logos/hk.svg" />
          <img class="logo" src="/logos/human.png" />
          <img class="logo" src="/logos/jaymar.svg" />
          <img class="logo" src="/logos/jbl.png" />
          <img class="logo" src="/logos/jbl_pro.png" />
          <img class="logo" src="/logos/kin.png" />
          <img class="logo" src="/logos/lab.png" />
          <img class="logo" src="/logos/mark.svg" />
          <img class="logo" src="/logos/marshal.png" />
          <img class="logo" src="/logos/mission.png" />
          <img class="logo" src="/logos/one_for_all.svg" />
          <img class="logo" src="/logos/revel.svg" />
          <img class="logo" src="/logos/soundcraft.png" />
          <img class="logo" src="/logos/synth.svg" />
          <img class="logo" src="/logos/thorens.png" />
          <img class="logo" src="/logos/velodyne.png" />
        </div>
      )
    }
    <main>
      <slot />
      <footer>&copy; {year}, Brian Surrett. All rights reserved.</footer>
    </main>
    <style>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(1rem, 3vw + 1.5rem, 3.25rem);
      }

      body {
        min-width: 300;
        font-family: system-ui, sans-serif;
        /* font-size: var(--font-size-base); */
        color: var(--color-text);
        background-color: var(--color-bg);
        display: grid;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr;
        overflow-y: hidden;
      }

      main {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 3rem;
        overflow-y: auto;
        height: calc(96vh - 3rem);
      }

      header {
        position: fixed;
        top: 0;
        height: 3rem;
        width: 100vw;
        background-color: var(--color-bg-alt);
        z-index: 2;
      }

      .title {
        padding-left: 1rem;
        margin-top: 0.5rem;
        color: var(--color-text);
        font-size: x-large;
      }

      .title a:hover {
        color: var(--color-text);
      }

      .title a {
        text-decoration: none;
        color: var(--color-accent);
      }

      .wrap {
        position: absolute;
        left: 0;
        top: 3rem;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        padding: 2rem;
        margin: 0;
        background-color: white;
        z-index: -1;
        filter: blur(1px) brightness(var(--bg-br));
      }

      .logo {
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        min-width: 5rem;
        min-height: 5rem;
        max-width: 20rem;
        max-height: 10rem;
        object-fit: contain;
        color: black;
      }

      footer {
        text-align: center;
        padding: 2rem;
        margin: 2rem;
      }
    </style>

    <style is:global>
      h1 {
        font-size: var(--font-size-xl);
      }

      h2 {
        font-size: var(--font-size-lg);
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
